<h1 class="title">Mladiinfo Social</h1>
<div class="row">
  <div class="col-md-12">
    <h3 class="orange">Diskutuj o svých zážitcích, hodnoť je, čti si názory ostatních a spoj se s lidmi které baví to co tebe - užívat si svá studentská léta naplno a smysluplně!</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3> Co je Mladiinfo? </h3>
    <p>Jsme občanské sdružení, které se snaží podporovat mladé lidi v aktivním a smysluplném trávení volného času a inspirovat je zejména k dobrovolnictví, neformálnímu vzdělávání, stážím, studiu a cestování. Provozujeme webové stránky <a href="www.mladiinfo.cz"> www.mladiinfo.cz </a> kde najdete denně čerstvé novinky, články a příležitosti.  </p>
    <h3> Proč sociální síť?</h3>
    <p>Mladiinfo social je náš projekt jakým se snažíme spojit dohromady lidi, kteří mají podobný způsob života. Chceme vytvořit komunitu, kde bude možné sdílet své zkušenosti z dobrovolnictví, trainingů, výměn mládeže, ... a kde bude možné se inspirovat, přiučit a dozvědět nové věci od těch, co to zažili.</p>
  </div>
  <div class="col-md-6">

    <%= form_tag "/sessions" do %>
      <h3 class="center"> Přihlaš se </h3>
      Email <input type="text" name="session[email]">
      Password <input type="password" name="session[password]">
      <br>
      <button type="submit" class="btn btn-orange">Potvrdit</button>
    <% end %>

    <span> Ještě nemáš účet? <%= link_to "Přidej se hned teď!", signup_path, class: "btn btn-large btn-primary" %></span>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <p><u>Ochutnávka témat a rad, jaké se zde můžete dozvědět:</u> jaké to je jet na rok na EVSku, jaké to je být na Erasmu, co obnáší mezinárodní výměna mládeže, kde se naučit jazyky zadarmo, na co si dát pozor při stopování, jaké existují stipendia, proč by člověk měl pracovat zadarmo, co to je Mládež v akci, co to jsou víkendovky, jak se učí neformálně, kam se dá jet na tábor pro vysokoškláky a mnohé další.</p>
  </div>
</div>
<hr>
<div class="row last">
  <div class="col-md-6">
    <h3> Novinky v Mladiinfo světě </h3>
    <div id="carousel-example-generic" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-prn2/1238074_500548086704114_983319375_n.jpg" alt="...">
          <div class="carousel-caption">

          </div>
        </div>
        <div class="item">
          <%= image_tag "social.png" %>
          <div class="carousel-caption">

          </div>
        </div>
        <div class="item">
          <%= image_tag "pruvodce.png" %>
          <div class="carousel-caption">

          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="icon-next"></span>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <h3> Nejnovější příspěvky v diskuzi </h3>
  </div>
</div>
<%= image_tag "bubble2.png", :class => "bubble" %>
