<h2>Upravit uživatele</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

<div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Čeká se na potvrzení od: <%= resource.unconfirmed_email %></div>
    <% end %>

<div><%= f.label "nové heslo" %> <i>(nech volné pokud ho nechceš změnit)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

<div><%= f.label "potvrzení hesla" %><br />
  <%= f.password_field :password_confirmation %></div>

<div><%= f.label "stávající heslo" %> <i>(potřebujeme tvoje současné heslo pro potvrzení změn)</i><br />
  <%= f.password_field :current_password %></div>

<div><%= f.submit "Potvrdit" %></div>
  <% end %>

<h3>Zrušit účet</h3>

<p>Nelíbí se ti tu? <%= button_to "Zrušit můj účet", registration_path(resource_name), :data => { :confirm => "Jsi si jistý?" }, :method => :delete %></p>

<%= link_to "Zpět", :back %>
